.imggg{
    display:none;
}

.imggg2{
    display: none;
}

.mimi{
    width: 100px;
    height: 140px;
}

.entete{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: #2c2615aa;
    border: solid;
    border-radius: 20px;
}

h1{
    display: flex;
    justify-content: center;
}

.video{
    display:none;
}

.cssbut{
    display:none;
}

.menus{
    margin-left: 20px;
    margin-right: 20px;
}

.mimicont{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
body{
    background-color: #ffffff;
    color: #000000;
    margin: 10px;
    font-size: 12px;
}