h1{
    font-size: 4em;
}

video#bgvideo {
    display: none;
    position: none;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(../vid/Flower26790.mp4) no-repeat;
    background-size: cover;
}

body{
    color:#0f6992;
}

.custom-border-print {
    background: #2c2615aa;
    border-top: solid;
    border-bottom: solid;
    border-color: #25baff;
    border-radius: 2rem;
}

.w-10 {
    width: 10%!important;
}

.right {
    display: none;
    bottom: 4rem;
    right: 4rem;
}

.social {
    display:none;
}

.little-text {
    font-size: 0.8em;
}
