@import url('https://fonts.googleapis.com/css?family=Grenze&display=swap');

/* Partie css pour le corp du HTML */

body {
    font-family: 'Grenze', serif;
    color: #25baff;
    background: #ffffff;
    font-size: 120%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    font-size: 13px;
}

/* Partie du css pour le corp du CV */

/* Rendre invisible les imggg, imggg2, video ainsi que cssbut sur le print */

.video,
.cssbut,
.imggg2,
.imggg {
    display: none;
}

/* valeur CSS pour la photo  */
.mimi {
    width: 100px;
    height: 140px;
    border: #2c2615;
    border-radius: 20px;
}

/* valeur pour le conteneur photo + laser */
.mimicont {
    width: 100;
    height: 150;

}

/* valeur conteneur en-tete */
.entete {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: #ffffffaa;
    border: solid;
    border-radius: 20px;
}

/* valeur pour la marge */
.marge {
    background: #ffffffaa;
    border: solid;
    border-radius: 25px;
    width: 12%;
    margin: 20px;
}

/* valeur pour le corp du CV */
.corpcv {
    background: #ffffffaa;
    border: solid;
    border-radius: 20px;
    margin-top: 5%;
}
